doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        -
            var styleList = [
                "/css/bootstrap.min.css",
                "css/nano.min.css",
                "css/popup.css"
            ]

        each style in styleList
            link(href=style, rel="stylesheet")

    body(style="width: 800px;")
        .container-fluid
            .card.mt-3
                h6.card-header 顏色設定
                .card-body
                    .container
                        #base-color-picker
                            .row
                                .col-10.dropdown.show
                                    a.btn.btn-primary.dropdown-toggle.col-12.mb-2#theme-selection-dropdown(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                    .dropdown-menu#theme-selection-dropdown-item-container(aria-labelledby="dropdownMenuLink")
                                .col-2.pl-0(style="padding-right: 20px")
                                    button.btn.btn-primary.col-12#export-button(type="button") 匯出
                            .row
                                .col
                                    mixin spPopover(qi, bi)
                                        div(id="popover-content-" + "q" + qi + "b" + bi style="display: none")
                                            table
                                                tbody
                                                    tr
                                                        td="字體："
                                                        td
                                                            div(class="pickr-" + "q" + qi + "b" + bi + "-b")
                                                    tr
                                                        td(class="pt-1")="背景："
                                                        td(class="pt-1")
                                                            div(class="pickr-" + "q" + qi + "b" + bi + "-q")
                                                        
                                    mixin baseColorRow(text, name1, name2, qi)
                                        .row.mt-2.d-flex.align-items-center
                                            .col-2=text
                                            .col-1
                                                .row
                                                    div(class="pickr-" + name1)
                                                    span=" "
                                                    div(class="pickr-" + name2)
                                            .col-9
                                                .row
                                                    .col.ml-4.mr-3
                                                        .row
                                                            - for (var bi = 0; bi <= 7; bi++)
                                                                .col(style="padding:0px;")
                                                                    .dot(id="dot-q" + qi + "b" + bi, style="visibility:hidden")
                                                                    +spPopover(qi, bi)
                                                                    button.sp-color-demo-button.btn(class="q" + qi + " " + "b" + bi b=bi q=qi type="button" role="button" data-toggle="popover" data-trigger="focus" data-html="true"
                                                                        data-content='<div id="popover-q'+ qi + "b" + bi + '" style="width: 5em"></div>')="字"

                                                    .col.mr-3
                                                        .row
                                                            - for (var bi = 0; bi <= 7; bi++)
                                                                .col(style="padding:0px;")
                                                                    .dot(id="dot-q" + (qi + 8) + "b" + bi, style="visibility:hidden")
                                                                    +spPopover(qi + 8, bi)
                                                                    - if(bi >= 6)
                                                                        button.sp-color-demo-button.btn(class="q" + (qi + 8) + " " + "b" + bi b=bi q=(qi + 8) type="button" role="button" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="bottom"
                                                                            data-content='<div id="popover-q'+ (qi + 8) + "b" + bi + '" style="width:200px;"></div>')="字"
                                                                    - else
                                                                        button.sp-color-demo-button.btn(class="q" + (qi + 8) + " " + "b" + bi b=bi q=(qi + 8) type="button" role="button" data-toggle="popover" data-trigger="focus" data-html="true"
                                                                            data-content='<div id="popover-q'+ (qi + 8) + "b" + bi + '" style="width: 5em"></div>')="字"

                                    -
                                        var baseColorDict = {
                                            "white": {
                                                ch: "白",
                                                code: 7
                                            },
                                            "black": {
                                                ch: "黑",
                                                code: 0
                                            },
                                            "red": {
                                                ch: "紅",
                                                code: 1
                                            },
                                            "green":{
                                                ch: "綠",
                                                code: 2
                                            },
                                            "yellow":{
                                                ch: "黃",
                                                code: 3
                                            },
                                            "blue":{
                                                ch: "藍",
                                                code: 4
                                            },
                                            "magenta":{
                                                ch: "粉",
                                                code: 5
                                            },
                                            "cyan": {
                                                ch: "青",
                                                code: 6
                                            }
                                        }

                                    each val, en in baseColorDict
                                        +baseColorRow(val.ch+"＆亮"+val.ch, en, en+"-light", val.code)
                                //- .col-9
                                //-     mixin specialColorCol(wordColor)
                                //-         - for (var x = 0; x <= 7; x++)
                                        
                                //-             .col
                                //-                 button(class = wordColor + " " + en, type="button")

                                //-     mixin specialColorRow()
                                //-         .row
                                //-             specialColorCol()
            .row.justify-content-center.mt-1.mb-3
                a.mr-1(href="https://github.com/petingo/ptt-theme", target="_blank", style="color: #28415b") 網站
                span(style="color: #555") |
                a.ml-1(href="https://github.com/petingo/ptt-theme", target="_blank", style="color: #28415b") Github

        -
            var scriptList = [
                "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js",
                "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js",
                "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js",
                "/js/init.js",
                "js/pickr.min.js",
                "js/popup.js"
            ]

        each scriptSrc in scriptList
            script(src=scriptSrc)

        script(async, defer, src="https://buttons.github.io/buttons.js")